.container-new-task {
    margin: 1rem auto;
}

.addNewTask {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    background-color: darken($fuschia, 10);
}

.newTask {
    width: 80%;
    margin: 0 1rem;
}

.addTask {
    height: 2rem;
    width: 15%;
    margin: 0 1rem;
    padding: 0;
    font-weight: bold;
    font-size:16px;
}